{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'TwigBundle::errorLayout.html.twig' %}

{% block exception %}
    <span class="rotated">{{ 'error.404.rotated'|trans({}, "messages", locale) }}</span>
    <h2>{{ 'error.common.headline'|trans({}, "messages", locale) }}</h2>
    <p>{{ 'error.404.subheadline'|trans({}, "messages", locale) }}</p>
    <div class="circle">
        <span>404</span>
    </div>
{% endblock %}