{# src/AppBundle/Resources/views/Common/orientation.html.twig #}
<div id="orientation-landscape-holder">
    <span class="fa fa-mobile"></span>
    <span class="entitled">{{ 'common.orientation'|trans }}</span>
</div>
