*~
*.ca-bundle
*.crt
*.csr
*.key
*.zip

/.idea/

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/parameters.yml

/bin/

/src/AppBundle/Resources/node_modules/*
/src/AppBundle/Resources/public/*

/vendor/

/www/bundles/
/www/uploads/

/composer.lock
