{# src/AppBundle/Resources/views/Email/password.html.twig #}
<h1>{{ 'password.headline'|trans({}, "emails") }}</h1>
<p>
    {{ 'password.body'|trans({}, "emails") }}
</p>
<p>
    {{ newPassword }}
</p>
<p>
    <small>{{ 'default.bottomline'|trans({}, "emails") }}</small>
</p>